$yellow-color: #ffa501;
$yellow-color-accent: #ffb701;
$black-color: #000000;
$blue-color: #9ad7f8;
$white-color: #ffffff;
$white-overlay: #ffffff75;

$font-main: 'Poppins', sans-serif;

$transition: all 0.3s ease-in-out;
$border-main: 1px solid $black-color;
$btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
