@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import './variables';
@import './mixins';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: $black-color;
}

ul,
ol,
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  @include font(16px, 700);
}

.body {
  font-family: $font-main;
  color: $black-color;
  @include flex(row, center);
  background: url('../assets/jpg/background.jpg') no-repeat center 0;
  transition: $transition;

  &:has(.nav__wrapper_active) {
    overflow: hidden;
  }
}

.overlay {
  display: none;

  &_active {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 2;
    background-color: $white-overlay;
  }
}

.wrapper {
  @include flex(column);
  gap: toRem(120);
  max-width: toRem(1140);
  width: 100%;
  padding-bottom: toRem(91);
  border: $border-main;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  &:has(.nav__wrapper_active) {
    border-color: transparent;
    box-shadow: none;
  }
}

.sidebar {
  position: absolute;
  @include flex(row, flex-start, center, toRem(15));
  left: toRem(-110);
  top: toRem(382);
  transform: rotate(-90deg);

  &__text {
    position: relative;
  }

  &__line {
    display: block;
    @include size(toRem(70), toRem(2));
    background-color: $black-color;
  }

  &__links {
    gap: toRem(15);
  }

  &__icon {
    @include size(toRem(20));
  }
}

.links {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    transition: $transition;
    @include link-hover;
  }
}

.nav {
  position: absolute;
  right: 0;
  width: toRem(36);
  margin: toRem(20) toRem(30);

  &__btn {
    @include flex(column, space-between, flex-end);
    @include size(toRem(36), toRem(21));
    transition: $transition;
    cursor: pointer;
    @include link-hover;
    background-color: transparent;
  }

  &__line {
    display: block;
    @include size(toRem(30), toRem(3));
    background-color: $black-color;

    &:nth-child(even) {
      width: toRem(36);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: toRem(140) 0 toRem(50) 0;
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 345px;
    width: 100%;
    height: 800px;
    background-color: $yellow-color;
    z-index: 3;
    transition: left ease-in-out 0.3s;

    &_active {
      left: 0%;
    }
  }

  &__list {
    @include flex(column, flex-start, normal, toRem(15));
    padding-left: toRem(75);
  }

  &__item {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      top: toRem(10);
      left: toRem(-30);
      content: '';
      @include size(toRem(15));
      border-radius: 50%;
      border: $border-main;
    }
  }

  &__link {
    @include font(toRem(24), 700, toRem(36));
    color: $white-color;
    transition: $transition;

    &:hover {
      color: $black-color;
    }
  }

  &__links {
    gap: toRem(15);
    align-self: center;
  }
}

.close-btn {
  position: absolute;
  margin: toRem(25);
  top: 0;
  right: 0;
  @include size(toRem(30));

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 31px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.section {
  padding-top: toRem(6);

  &__title {
    position: relative;
    padding-bottom: toRem(25);
    @include font(toRem(36), 700, toRem(60));

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      display: inline-block;
      @include size(toRem(60), toRem(3));
      background-color: $yellow-color;
      transform: translate(-50%);
    }
  }

  &__subtitle {
    position: relative;
    @include font(toRem(16), 700, toRem(36));
    padding-left: toRem(10);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: inline-block;
      @include circle(toRem(36));
      z-index: -1;
    }
  }
}

.about {
  height: toRem(800);
  padding-top: toRem(200);

  &__title {
    @include font(toRem(48), 700, toRem(60));
    margin: toRem(4) 0 toRem(32) 0;
  }

  &__btns {
    display: flex;
    gap: toRem(20);
  }
}

.btn {
  max-width: toRem(220);
  padding: toRem(12) toRem(26);
  @include font(toRem(14));
  background-color: $yellow-color;
  box-shadow: $btn-shadow;
  transition: $transition;
  cursor: pointer;
  @include btn-primary-hover;

  &_secondary {
    background-color: transparent;
    box-shadow: none;
    @include btn-secondary-hover;
  }
}

.benefit {
  @include flex(column, flex-start, center);

  &__subtitle {
    padding: 0;

    &::before {
      padding: 0;
      left: toRem(4);
    }
  }
}

.resume {
  display: flex;
  width: 100%;
  padding-top: toRem(62);

  &__title {
    @include font(toRem(20), 700, toRem(24));
  }

  &__group {
    position: relative;
    @include flex(column);
    gap: toRem(50);
    padding-left: toRem(42);
    margin-left: toRem(73);
    width: 50%;
    box-shadow: -13px 5px 0px -12px $black-color;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      @include circle(toRem(15));
      top: toRem(4);
      left: toRem(-8);
      z-index: 1;
    }
  }
}

.item-resume {
  position: relative;

  &__logo {
    @include circle(toRem(36));
    position: relative;
  }

  &__icon {
    position: absolute;
    right: toRem(-3);
    bottom: toRem(-3);
    width: toRem(25);
    max-height: toRem(25);
  }

  &__header {
    display: flex;
    gap: toRem(16);

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      @include size(toRem(42), toRem(1));
      background-color: $black-color;
      top: toRem(19);
      left: toRem(-42);
      z-index: 1;
    }
  }

  &__title {
    @include font(toRem(14), 700, toRem(21));
  }

  &__subtitle,
  &__text {
    @include font(toRem(12), 500);
    max-width: 375px;
  }

  &__text {
    padding-top: toRem(12);
  }
}

.contacts {
  display: flex;
  gap: toRem(68);

  &__image {
    margin-left: toRem(52);
  }

  &__body {
    max-width: toRem(585);
    width: 100%;
  }

  &__title {
    padding-bottom: 0;

    &::after {
      left: 0;
      transform: translate(0);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    margin: toRem(24) 0 toRem(30) 0;
  }

  &__text {
    @include font(toRem(14), 700);
  }

  &__links {
    gap: toRem(25);
  }
}

.text-field {
  position: relative;
  border: $border-main;
  @include font(toRem(12), 500);

  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  &:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  &:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }

  &__input {
    @include size(100%);
    padding: toRem(14) toRem(20);
    resize: none;
  }

  &__label {
    position: absolute;
    padding: 0 toRem(8);
    background-color: $white-color;
    top: toRem(-11);
    left: toRem(12);
  }

  &__error {
    display: block;
    color: red;
    height: toRem(17);
    padding-left: toRem(22);
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: toRem(45) toRem(190) toRem(45);
  grid-column-gap: toRem(25);
  grid-row-gap: toRem(30);

  .btn {
    grid-area: 3 / 1 / 4 / 3;
  }
}

@media screen and (width <= 1380px) {
  .wrapper {
    position: relative;
    padding-left: toRem(20);
    padding-right: toRem(20);
  }

  .nav {
    margin: toRem(20);
  }

  .sidebar {
    display: none;
  }
}

@media screen and (width <= 1180px) {
  .wrapper {
    border: none;
    box-shadow: none;
  }

  .about {
    margin-left: toRem(32);
  }
}

@media screen and (width <= 1024px) {
  .contacts {
    gap: toRem(32);

    &__image {
      margin-left: toRem(32);
    }
  }

  .resume__group {
    margin-left: toRem(32);
  }
}

@media screen and (width <= 850px) {
  .contacts {
    justify-content: center;

    &__body {
      max-width: 100%;
      padding-left: toRem(32);
      padding-right: toRem(32);
    }
  }
  .contacts__image {
    display: none;
  }
}

@media screen and (width <= 745px) {
  .wrapper {
    gap: toRem(40);
  }

  .resume {
    flex-direction: column;
    align-items: center;
    padding-left: toRem(32);
    gap: toRem(30);

    &__group {
      margin-left: 0;
      width: 100%;
    }
  }

  .item-resume__text {
    max-width: 100%;
  }
}

@media screen and (width <= 600px) {
  .body {
    background-size: auto toRem(640);
  }

  .wrapper {
    padding: 0 toRem(10) toRem(50) toRem(10);
  }

  .resume {
    padding-top: toRem(46);
    padding-left: toRem(6);
  }

  .about {
    height: toRem(640);
    margin: 0;

    &__title {
      @include font(toRem(40), 700, toRem(48));
    }
  }

  .contacts {
    &__body {
      padding: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: toRem(25);

    .btn {
      align-self: center;
    }
  }

  .text-field {
    &:nth-child(3) {
      height: toRem(143);
    }
  }
}

@media screen and (width <= 455px) {
  .about {
    &__title {
      @include font(toRem(26), 700, toRem(40));
    }
  }

  .section__title {
    font-size: toRem(24);
    padding-top: toRem(7);
    padding-bottom: toRem(3);
  }

  .resume {
    &__group {
      gap: 0;
    }

    &__title {
      margin-bottom: toRem(45);
    }
  }

  .item-resume {
    margin-bottom: toRem(15);

    &__text {
      padding-top: toRem(22);
    }
  }

  .resume__group:first-child {
    .item-resume:nth-child(2) {
      .item-resume__text {
        padding-top: toRem(3);
      }
    }
  }
}

@media screen and (width <= 320px) {
  .body {
    background: url('../assets/jpg/background-320px.jpg') no-repeat center 0;
  }
}
